<%= form_for(@track) do |f| %>
  <%= error_messages_for @track %>

  <div class="field">
    <%= f.label :track_id %><br>
    <%= f.number_field :track_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :album_artist %><br>
    <%= f.text_field :album_artist %>
  </div>
  <div class="field">
    <%= f.label :composer %><br>
    <%= f.text_field :composer %>
  </div>
  <div class="field">
    <%= f.label :album %><br>
    <%= f.text_field :album %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :total_time %><br>
    <%= f.number_field :total_time %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.number_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :disc_number %><br>
    <%= f.number_field :disc_number %>
  </div>
  <div class="field">
    <%= f.label :disc_count %><br>
    <%= f.number_field :disc_count %>
  </div>
  <div class="field">
    <%= f.label :track_number %><br>
    <%= f.number_field :track_number %>
  </div>
  <div class="field">
    <%= f.label :track_count %><br>
    <%= f.number_field :track_count %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :bpm %><br>
    <%= f.number_field :bpm %>
  </div>
  <div class="field">
    <%= f.label :date_modified %><br>
    <%= f.date_select :date_modified %>
  </div>
  <div class="field">
    <%= f.label :date_added %><br>
    <%= f.date_select :date_added %>
  </div>
  <div class="field">
    <%= f.label :bit_rate %><br>
    <%= f.number_field :bit_rate %>
  </div>
  <div class="field">
    <%= f.label :sample_rate %><br>
    <%= f.number_field :sample_rate %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :volume_adjustment %><br>
    <%= f.number_field :volume_adjustment %>
  </div>
  <div class="field">
    <%= f.label :play_count %><br>
    <%= f.number_field :play_count %>
  </div>
  <div class="field">
    <%= f.label :play_date %><br>
    <%= f.number_field :play_date %>
  </div>
  <div class="field">
    <%= f.label :play_date_utc %><br>
    <%= f.date_select :play_date_utc %>
  </div>
  <div class="field">
    <%= f.label :skip_count %><br>
    <%= f.number_field :skip_count %>
  </div>
  <div class="field">
    <%= f.label :skip_date %><br>
    <%= f.date_select :skip_date %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :album_rating %><br>
    <%= f.number_field :album_rating %>
  </div>
  <div class="field">
    <%= f.label :album_rating_computed %><br>
    <%= f.check_box :album_rating_computed %>
  </div>
  <div class="field">
    <%= f.label :normalization %><br>
    <%= f.number_field :normalization %>
  </div>
  <div class="field">
    <%= f.label :sort_album_artist %><br>
    <%= f.text_field :sort_album_artist %>
  </div>
  <div class="field">
    <%= f.label :compilation %><br>
    <%= f.check_box :compilation %>
  </div>
  <div class="field">
    <%= f.label :artwork_count %><br>
    <%= f.number_field :artwork_count %>
  </div>
  <div class="field">
    <%= f.label :sort_artist %><br>
    <%= f.text_field :sort_artist %>
  </div>
  <div class="field">
    <%= f.label :sort_composer %><br>
    <%= f.text_field :sort_composer %>
  </div>
  <div class="field">
    <%= f.label :sort_album %><br>
    <%= f.text_field :sort_album %>
  </div>
  <div class="field">
    <%= f.label :sort_name %><br>
    <%= f.text_field :sort_name %>
  </div>
  <div class="field">
    <%= f.label :persistent_id %><br>
    <%= f.text_field :persistent_id %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="field">
    <%= f.label :track_type %><br>
    <%= f.text_field :track_type %>
  </div>
  <div class="field">
    <%= f.label :protected %><br>
    <%= f.check_box :protected %>
  </div>
  <div class="field">
    <%= f.label :purchased %><br>
    <%= f.check_box :purchased %>
  </div>
  <div class="field">
    <%= f.label :has_video %><br>
    <%= f.check_box :has_video %>
  </div>
  <div class="field">
    <%= f.label :hd %><br>
    <%= f.check_box :hd %>
  </div>
  <div class="field">
    <%= f.label :video_width %><br>
    <%= f.number_field :video_width %>
  </div>
  <div class="field">
    <%= f.label :video_height %><br>
    <%= f.number_field :video_height %>
  </div>
  <div class="field">
    <%= f.label :music_video %><br>
    <%= f.check_box :music_video %>
  </div>
  <div class="field">
    <%= f.label :file_type %><br>
    <%= f.number_field :file_type %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :file_folder_count %><br>
    <%= f.number_field :file_folder_count %>
  </div>
  <div class="field">
    <%= f.label :library_folder_count %><br>
    <%= f.number_field :library_folder_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
