<%= form_tag artists_path, method: :get do %>
  <%= label_tag 'Filtering Condition' %>
  <%= text_field_tag :condition, @condition, size: 40 %>
  <%= submit_tag :Filter %>
<% end -%>

<table class="table_base">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th># Albums</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each_with_index do |artist, index| -%>
      <tr>
        <td style="text-align: right"><%= link_to index + 1, artist_path(artist) %></td>
        <td><%= artist.name %></td>
        <td class="numeric"><%= artist.albums.size %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
