<%= @artist %>

<table class="table_base">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Year</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @artist.albums.sort_by(&:year).each_with_index do |album, index| -%>
      <tr>
        <td style="text-align: right"><%= link_to index + 1, album_path(album) %></td>
        <td><%= album.name %></td>
        <td class="numeric"><%= album.year %></td>
        <td class="numeric"><%= str_time_in_min_and_sec(album.total_time_in_sec) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
